.compariseion__title{
    width: 223px;
color: #000;

font-family:" Poppins";
font-size: 28px;
font-style: normal;
font-weight: 500;
line-height: 126.5%; /* 35.42px */
}

.compariseion__line{
    width: 115px;
height: 2px;
background: #727272;
}

.comp__text{
    color: #727272;

font-family: "Poppins";
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin: 0px;
}