.compariseion__title{
    width: 223px;
    color: #000;
    font-family: Poppins;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 126.5%; /* 35.42px */
}

.compariseion__line{
    width: 115px;
height: 2px;
background: #727272;
}

.comp__text{
    color: #727272;

font-family: "Poppins";
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin: 0px;
}



.go__box-title{
    color: #000;

font-family: "Poppins";
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 126.5%;
}

.go__numb-text{
    color: #000;

font-family: "Poppins";
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
}


.go__stars-box-title{
    color: #000;

font-family: "Poppins";
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
}


.go__stars-text{
    color: #9F9F9F;
    font-family: "Poppins";
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.comp__line{
    width: 1px;
height: 30px;
background: #9F9F9F;
}


.go__stars-box{
    display: flex;
    align-items: center;
    // background-color: red;
    width: 75%;
    justify-content: space-between;

}


.go__button{

    width: 80%;
height: 39px;
flex-shrink: 0;
border-radius: 6px;
background: var(--Primary, #B88E2F);
}


.go__button{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;


 
color: #FFF;

font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 126.5%; /* 17.71px */
}

.go__button-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;

}



.go__box2-title{
    color: #000;

font-family: "Poppins";
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 126.5%; /* 30.36px */
margin: 41px 0px 14px 0px;
}





.go{
    margin-top: 100px;
}


// @media (max-width: 1000px) {
   
//     .go__box{
//     //     display: flex;
//     // flex-direction: column;
//     // align-items: center;
//     }


//     .compariseion__title{
//         font-size: 23px;
//     }

//     .go__stars-box{
//         display: flex;
//         flex-direction: column;
//     }

//     .comp__line{
//        display: none;
//     }

//     .go__box2-text{
//         font-size: 13px;
//     }

//     .go__box2-title{
//         font-size: 20px;
//         margin: 1px 0px 14px 0px;
//     }

//     .go__button svg{
//         display: none;
//     }
//   }
  
//   @media (max-width: 770px) {
   
//     .go__box{
//         display: flex;
// flex-direction: column;
// background-color: red;
// align-items: center;
// justify-content: center;
//     }

// .compariseion__title{
//     font-size: 28px;
// }
    
//   }

// @media screen and (min-width: 1201px) {
//     .c1 {
//         order: 2; /* o'rnini almashtirish */
//     }

//     .c2 {
//         order: 1; /* o'rnini almashtirish */
//     }
// }


.go__box {
    // text-align: center; /* Matn va rasmlarni markazga tushirish */
}

/* 1000px dan katta ekranlarda o'zgartirishlar */
// @media (max-width: 700px) {
//     .go__row {
//         display: flex;
//         align-items: center;
//         flex-direction: column;
//     }

//     .go__stars-box{
//         display: flex;
//     //    display: block;
//     }
//     .go__box{
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         flex-direction: column;
//         margin: 0 auto;
//         width: 100%;
//     }
// }


@media (max-width: 570px) {
  
}


.col-12 {
 
}

/* Styles for col-lg-6 when screen is 960px or smaller */
@media (max-width: 960px) {

}

/* Styles for col-lg-3 when screen is larger than 960px */
@media (min-width: 961px) {
    .col-lg-3 {
 
}
}



.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

/* Styles for col-md-6 when screen is between 900px and 600px */
@media (min-width: 601px) and (max-width: 900px) {
    .col-md-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

/* Styles for col-lg-3 when screen is larger than 900px */
@media (min-width: 901px) {

    
    .col-lg-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
}



@media (max-width: 901px) {

    .go__mt{
        margin-top: 100px;
    }  
 
}



@media (max-width: 600px) {

 .go__row div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
 }

 .comp__line{
    width: 1px;
    height: 1px;
    background-color: #72727200;
 }
 
}




.tabs__row > div {
    border-right: 1px solid #E8E8E8; /* Right border */
    border-left: 1px solid  #E8E8E8;  /* Left border */
}

.tabs__row > div:last-child {
    border-right: none;  /* Remove right border for the last div */
}


.row__box1{
    border-left:none !important;
    
}
.row__tabs-title{
    width: 175px;
    color: #000;
    
    font-family:"Poppins";
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 35px;
    margin-top: 50px;
}


.row__tabs-min-box p{
    color: #000;
    font-family: "Poppins";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 126.5%; /* 25.3px */
}


.row__top{
    margin-top: 50px;
}

.row__top2{
    margin-top: 150px;
}

.add__card{
    width: 215px;
height: 64px;
flex-shrink: 0;
border: 1px solid var(--Primary, #B88E2F);
background: var(--Primary, #B88E2F);
color: white;
display: flex;
align-items: center;
justify-content: center;
align-items: center;
}



@media (max-width: 800px) {
    .checkout__media-box1 {
      width: 100%; /* Make columns full width on small screens */
      height: auto; /* Allow columns to adjust their height based on content */
    }
  
  
    .billing__row{
        display: flex;
        flex-direction: column;
        
    }
  }