.compariseion__title{
    width: 223px;
    color: #000;
    font-family: Poppins;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 126.5%; /* 35.42px */
}

.compariseion__line{
    width: 115px;
height: 2px;
background: #727272;
}

.comp__text{
    color: #727272;

font-family: "Poppins";
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
margin: 0px;
}



.go__box-title{
    color: #000;

font-family: "Poppins";
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 126.5%;
}

.go__numb-text{
    color: #000;

font-family: "Poppins";
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
}


.go__stars-box-title{
    color: #000;

font-family: "Poppins";
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
}


.go__stars-text{
    color: #9F9F9F;
    font-family: "Poppins";
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.comp__line{
    width: 1px;
height: 30px;
background: #9F9F9F;
}


.go__stars-box{
    display: flex;
    align-items: center;
    // background-color: red;
    width: 75%;
    justify-content: space-between;

}


.go__button{

    width: 80%;
height: 39px;
flex-shrink: 0;
border-radius: 6px;
background: var(--Primary, #B88E2F);
}


.go__button{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;


 
color: #FFF;

font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 126.5%; /* 17.71px */
}

.go__button-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;

}



.go__box2-title{
    color: #000;

font-family: "Poppins";
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 126.5%; /* 30.36px */
margin: 41px 0px 14px 0px;
}





.go{
    margin-top: 100px;
}


@media (max-width: 1000px) {
   
    .go__box{
    //     display: flex;
    // flex-direction: column;
    // align-items: center;
    }


    .compariseion__title{
        font-size: 23px;
    }

    .go__stars-box{
        display: flex;
        flex-direction: column;
    }

    .comp__line{
       display: none;
    }

    .go__box2-text{
        font-size: 13px;
    }

    .go__box2-title{
        font-size: 20px;
        margin: 1px 0px 14px 0px;
    }

    .go__button svg{
        display: none;
    }
  }
  
//   @media (max-width: 770px) {
   
//     .go__box{
//         display: flex;
// flex-direction: column;
// background-color: red;
// align-items: center;
// justify-content: center;
//     }

// .compariseion__title{
//     font-size: 28px;
// }
    
//   }

// @media screen and (min-width: 1201px) {
//     .c1 {
//         order: 2; /* o'rnini almashtirish */
//     }

//     .c2 {
//         order: 1; /* o'rnini almashtirish */
//     }
// }


.go__box {
    // text-align: center; /* Matn va rasmlarni markazga tushirish */
}

/* 1000px dan katta ekranlarda o'zgartirishlar */
@media (max-width: 700px) {
    .go__row {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .go__stars-box{
        display: flex;
    //    display: block;
    }
    .go__box{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 0 auto;
        width: 100%;
    }
}


@media (max-width: 570px) {
  
}