.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
}


.header__list {
  margin-top: 20px;
}

.navbar-area ul li a {
  color: black;
}

.header__list-text {
  color: rgb(210, 13, 13);
}
.site-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 33;
}

.site-navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.site-navbar ul li a {
  color: black;
  padding: 20px 20px;
  display: block;
  text-decoration: none;
  text-transform: uppercase;

  font-family: "Poppins";
  font-size: 16px;
}
.site-navbar ul li a:hover {
  background: rgba(255, 255, 255, 0.1);
}
/* navbar regular css end */

/* nav-toggler css start */
.nav-toggler {
  border: none;
  padding: 5px;
  background-color: transparent;
  cursor: pointer;
  height: 39px;
  display: none;
}
.nav-toggler span,
.nav-toggler span:before,
.nav-toggler span:after {
  width: 28px;
  height: 3px;
  background-color: #706e6e;
  display: block;
  transition: 0.3s;
}
.nav-toggler span:before {
  content: "";
  transform: translateY(-9px);
}
.nav-toggler span:after {
  content: "";
  transform: translateY(6px);
}
.nav-toggler.toggler-open span {
  background-color: transparent;
}
.nav-toggler.toggler-open span:before {
  transform: translateY(0px) rotate(45deg);
}
.nav-toggler.toggler-open span:after {
  transform: translateY(-3px) rotate(-45deg);
}
/* nav-toggler css start */

/* intro-area css start */
.intro-area {
  height: calc(100vh - 61px);
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
}
.intro-area h2 {
  font-size: 50px;
  font-weight: 300;
  line-height: 50px;
  margin-bottom: 25px;
}
.intro-area p {
  font-size: 18px;
}
/* intro-area css end */

/* mobile breakpoint start */
@media screen and (max-width: 767px) {
  .container {
    max-width: 720px;
  }
  /* navbar css for mobile start */
  .nav-toggler {
    display: block;
  }
  .site-navbar {
    min-height: 60px;
  }
  .site-navbar ul {
    position: absolute;
    width: 100%;
    height: calc(100vh - 60px);
    left: 0;
    top: 60px;
    flex-direction: column;
    align-items: center;

    max-height: 0;
    overflow: hidden;
    transition: 0.3s;
  }
  .site-navbar ul li {
    width: 100%;
    text-align: center;
  }
  .site-navbar ul li a {
    // padding: 25px;
    color: red;
    display: flex;
    padding: 10px !important;
  }

  .site-navbar ul.open {
    width: 100%;
    max-height: 50vh;
    overflow: visible;
    background-color: rgb(136, 134, 134);
  }
  .intro-area h2 {
    font-size: 36px;
    margin-bottom: 15px;
  }
  /* navbar css for mobile end */

  .header__list-text {
    padding: 0px;
  }
}
/* mobile breakpoint end */

.header__box {
  display: flex;
  justify-content: space-around;
}

.header__img-box {
  width: 20%;
  justify-content: space-around;
}

////////////////
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper__img {
    width: 100%;
  height: 800px;
}



.swiper-slide {
  position: relative;
}

.swiper__text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  // transform: translate(-50%, -50%);
  /* Yozuv rangi */
  font-size: 24px; /* Yozuv o'lchami */
}

.swiper__text {
  // max-width: 40%;
  // height: 50%;
  background-color: #fff3e3;
  border-radius: 5px;
  font-size: 18px;
}

.swiper__text-box {
  width: 40%;
  height: auto;
  border-radius: 10px;
  background: #fff3e3;
  padding: 30px 20px;
  z-index: 22;
  top: 100px;
}

.swiper__text2 {
  width: 95%;
  color: var(--Font-Color, #333);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.swiper__slider-min-text {
  color: var(--Font-Color, #333);
  font-family: "Poppins";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 3px;
}

.swiper__title {
  width: 80%;
  color: var(--Primary, #b88e2f);
  font-family: "Poppins";
  font-size: 52px;
  font-style: normal;
  font-weight: 900;
  line-height: 65px;
  text-align: center;
}

.swiper__btn {
  padding: 14px 60px;
  align-items: flex-start;
  gap: 10px;
  background: var(--Primary, #b88e2f);
  border: none;
}


.rooms__btn{
  padding: 14px 60px;
  align-items: flex-start;
  gap: 10px;
  background: var(--Primary, #b88e2f);
  border: none;
  color: white;
}

.swiper__text-box {
  text-align: left;
}

.swiper__title {
  text-align: left;
}

@media (max-width: 1200px) {
  .swiper__text-box {
    width: 40%;
    height: auto;
    border-radius: 10px;
    background: #e3ffe8;
    padding: 30px 20px;
    z-index: 22;
    // height:85%;
    height: auto;
    top: 70px;
    left: 40%;
    left: 55%;
  }

  .swiper__text2 {
    width: 95%;
    color: var(--Font-Color, #333);
    font-family: "Poppins";
    font-size: 16px;
    font-style: normal;
    // font-weight: 500;
    line-height: 24px;
  }

  .swiper__slider-min-text {
    color: var(--Font-Color, #333);
    font-family: "Poppins";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 3px;
  }

  .swiper__title {
    width: 99%;
    color: var(--Primary, #b88e2f);
    font-family: "Poppins";
    font-size: 30px;
    font-style: normal;
    font-weight: 900;
    line-height: 35px;
    // text-align: center;
    text-align: left;
  }

  .swiper__btn {
    // width: 50%;
    height: 10%;
    height: auto;
    padding: 20px 50px;
    align-items: flex-start;

    background: var(--Primary, #b88e2f);
    border: none;
  }
}

@media (max-width: 880px) {
  .swiper__slide-min-text {
    font-size: 14px;
  }

  .swiper__btn {
    font-size: 14px;
  }

  .swiper__text-box {
    width: 40%;
    // height:10%;
    padding: 50px 80px;
    border-radius: 10px;
    background: #ffe3ed;
    padding: 10px 20px;
    z-index: 22;
    // height:85%;
    height: auto;
    top: 30px;
    // left: 10%;
    padding: 30px;
    left: 55%;
  }

  .swiper__img {
    max-width: 100%; /* Rasimni ekran eniga muvofiq o'zgartirish */
    height: auto;
  }

  .swiper__text2 {
    width: 95%;
    color: var(--Font-Color, #333);
    font-family: "Poppins";
    font-size: 14px;
    font-style: normal;
    // font-weight: 500;
    line-height: 24px;
    // margin-bottom: 50px;
  }

  .swiper__slider-min-text {
    color: var(--Font-Color, #333);
    font-family: "Poppins";
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 3px;
  }

  .swiper__title {
    // width: 59%;

    color: var(--Primary, #b88e2f);
    font-family: "Poppins";
    font-size: 30px;
    font-style: normal;
    // font-weight: 900;
    // line-height: 65px;
    // text-align: center;
    text-align: left;
  }

  .swiper__btn {
    // width: 50%;
    height: 10%;
    height: auto;
    padding: 10px 25px;
    align-items: flex-start;

    background: var(--Primary, #b88e2f);
    border: none;
  }
}

@media (max-width: 740px) {
  .swiper__text-box {
    width: 40%;
    // height:10%;
    border-radius: 10px;
    background: #ffe3ff;
    padding: 10px 20px;
    z-index: 22;
    // height:85%;
    height: auto;
    top: 30px;
    left: 55%;
  }

  .swiper__slide-min-text {
    font-size: 14px;
  }
  .swiper__img {
    max-width: 100%; /* Rasimni ekran eniga muvofiq o'zgartirish */
    height: auto;
  }

  .swiper__text2 {
    width: 95%;
    color: var(--Font-Color, #333);
    font-family: "Poppins";
    font-size: 12px;
    font-style: normal;
    // font-weight: 500;
    line-height: 24px;
    //   margin-bottom: 50px;
  }

  .swiper__slider-min-text {
    color: var(--Font-Color, #333);
    font-family: "Poppins";
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 3px;
  }

  .swiper__title {
    // width: 59%;

    color: var(--Primary, #b88e2f);
    font-family: "Poppins";
    font-size: 20px;
    font-style: normal;
    // font-weight: 900;
    line-height: 20px;
    // text-align: center;
    text-align: left;
  }

  .swiper__btn {
    // width: 50%;
    height: 10%;
    height: auto;
    padding: 10px 25px;
    align-items: flex-start;
    font-size: 11px;
    background: var(--Primary, #b88e2f);
    border: none;
  }
}

@media (max-width: 600px) {
  .swiper__text-box {
    width: 40%;
    // height:10%;
    border-radius: 10px;
    background: #ffffe3;
    padding: 10px 20px;
    z-index: 22;
    // height:85%;
    height: auto;
    top: 10px;
    left: 50%;
  }

  .swiper__slide-min-text {
    font-size: 12px;
  }
  .swiper__img {
    max-width: 100%; /* Rasimni ekran eniga muvofiq o'zgartirish */
    height: auto;
  }

  .swiper__text2 {
    width: 95%;
    color: var(--Font-Color, #333);
    font-family: "Poppins";
    font-size: 8px;
    font-style: normal;
    // font-weight: 500;
    line-height: 10px;
    //   margin-bottom: 50px;
  }

  .swiper__slider-min-text {
    color: var(--Font-Color, #333);
    font-family: "Poppins";
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 3px;
  }

  .swiper__title {
    // width: 59%;

    color: var(--Primary, #b88e2f);
    font-family: "Poppins";
    font-size: 18px;
    font-style: normal;
    // font-weight: 900;
    line-height: 20px;
    // text-align: center;
    text-align: left;
  }

  .swiper__btn {
    // width: 50%;
    height: 1%;
    height: auto;
    padding: 8px;
    align-items: flex-start;
    font-size: 14px;
    background: var(--Primary, #b88e2f);
    border: none;
  }
}

@media (max-width: 453px) {
  .swiper__text-box {
    width: 40%;
    // height:10%;
    border-radius: 10px;
    background: #e3ffe5;
    padding: 10px 20px;
    z-index: 22;
    //   height:85%;
    height: auto;
    top: 10px;
    left: 50%;
  }

  .swiper__slide-min-text {
    font-size: 12px;
    margin: 0px;
  }
  .swiper__img {
    max-width: 100%; /* Rasimni ekran eniga muvofiq o'zgartirish */
    height: auto;
  }

  .swiper__text2 {
    width: 95%;
    color: var(--Font-Color, #333);
    font-family: "Poppins";
    font-size: 8px;
    font-style: normal;
    // font-weight: 500;
    line-height: 10px;
    //   margin-bottom: 50px;
    margin: 0px;
  }

  .swiper__slider-min-text {
    color: var(--Font-Color, #333);
    font-family: "Poppins";
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 3px;
    margin: 0px;
  }

  .swiper__title {
    // width: 59%;

    color: var(--Primary, #b88e2f);
    font-family: "Poppins";
    font-size: 12px;
    font-style: normal;
    // font-weight: 900;
    line-height: 20px;
    // text-align: center;
    text-align: left;
  }

  .swiper__btn {
    // width: 50%;
    //   height: 1%;
    height: auto;
    padding: 8px;
    align-items: flex-start;
    font-size: 8px;
    background: var(--Primary, #b88e2f);
    border: none;
  }
}

@media (max-width: 375px) {
  .swiper__text-box {
    width: 45%;
    border-radius: 10px;
    background: #ffe3e3;
    padding: 5px 10px;
    z-index: 22;
    height: auto;
    top: 10px;
    left: 50%;
  }

  .swiper__slide-min-text {
    font-size: 12px;
    margin: 0px;
  }
  .swiper__img {
    max-width: 100%; /* Rasimni ekran eniga muvofiq o'zgartirish */
    height: auto;
  }

  .swiper__text2 {
    width: 95%;
    color: var(--Font-Color, #333);
    font-family: "Poppins";
    font-size: 8px;
    font-style: normal;
    // font-weight: 500;
    line-height: 10px;
    //   margin-bottom: 50px;
    margin: 0px;
  }

  .swiper__slider-min-text {
    color: var(--Font-Color, #333);
    font-family: "Poppins";
    font-size: 8px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 3px;
    margin: 0px;
  }

  .swiper__title {
    // width: 59%;

    color: var(--Primary, #b88e2f);
    font-family: "Poppins";
    font-size: 12px;
    font-style: normal;
    // font-weight: 900;
    line-height: 20px;
    // text-align: center;
    text-align: left;
  }

  .swiper__btn {
    // width: 50%;
    //   height: 1%;
    height: auto;
    padding: 8px;
    align-items: flex-start;
    font-size: 8px;
    background: var(--Primary, #b88e2f);
    border: none;
  }
}



// yuqoridagi eski o'zgarish


.nav-wrapper {
  width: 100%;
  // height: 100px;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  background-color: #ffffff;
  // position: fixed;
  z-index: 999;
}



/* NAVIGATION */

.navbar {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  height: 80px;
  overflow: hidden;
  
}

.navbar img {
  height: 16px;
  width: auto;
  justify-self: start;
  margin-left: 20px;
}

.navbar ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(6,1fr);
  justify-self: end;
  
}



.header__img-box a img{
  width: 28px;
  height: 28px;
  margin-left: 25px;
}

.nav-item a {
  color: #000;

  font-family:" Poppins";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.nav-item a:hover {
  color: #3498db;
}

/* SECTIONS */

.headline {
  width: 100%;
  height: 50vh;
  min-height: 350px;
  // background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.7)), url('https://images.unsplash.com/photo-1435224668334-0f82ec57b605?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDd8fHxlbnwwfHx8fA%3D%3D&w=1000&q=80');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.features {
  width: 100%;
  height: auto;
  background-color: #f1f1f1;
  display: flex;
  padding: 50px 20px;
  justify-content: space-around;
}

.feature-container {
  flex-basis: 30%;
  margin-top: 10px;
}

.feature-container p {
  color: #000;
  text-align: center;
  line-height: 1.4;
  margin-bottom: 15px;
}

.feature-container img {
  width: 100%;
  margin-bottom: 15px;
}

/* SEARCH FUNCTION */

#search-icon {
  font-size: 0.9rem;
  margin-top: 3px;
  margin-left: 15px;
  transition: color 0.3s ease-out;
}

#search-icon:hover {
  color: #3498db;
  cursor: pointer;
}

.search {
  transform: translate(-35%);
  -webkit-transform: translate(-35%);
  transition: transform 0.7s ease-in-out;
  color: #3498db;
}

.no-search {
  transform: translate(0);
  transition: transform 0.7s ease-in-out;
  
}

.search-input {
  position: absolute;
  top: -4px;
  right: -125px;
  opacity: 0;
  z-index: -1;
  transition: opacity 0.6s ease;
}

.search-active {
  opacity: 1;
  z-index: 0;
}

input {
  border: 0;
  border-left: 1px solid #ccc;
  border-radius: 0; /* FOR SAFARI */
  outline: 0;
  padding: 5px;
}

/* MOBILE MENU & ANIMATION */

.menu-toggle .bar{
  width: 25px;
  height: 3px;
  background-color: #3f3f3f;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.menu-toggle {
  justify-self: end;
  margin-right: -70%;
  display: none;
}

.menu-toggle:hover{
  cursor: pointer;
}

#mobile-menu.is-active .bar:nth-child(2){
  opacity: 0;
}

#mobile-menu.is-active .bar:nth-child(1){
  -webkit-transform: translateY(8px) rotate(45deg);
  -ms-transform: translateY(8px) rotate(45deg);
  -o-transform: translateY(8px) rotate(45deg);
  transform: translateY(8px) rotate(45deg);
  
}

#mobile-menu.is-active .bar:nth-child(3){
  -webkit-transform: translateY(-8px) rotate(-45deg);
  -ms-transform: translateY(-8px) rotate(-45deg);
  -o-transform: translateY(-8px) rotate(-45deg);
  transform: translateY(-8px) rotate(-45deg);
}

/* KEYFRAME ANIMATIONS */

@-webkit-keyframes gradbar {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@-moz-keyframes gradbar {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

@keyframes gradbar {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

/* Media Queries */

  /* Mobile Devices - Phones/Tablets */

@media only screen and (max-width: 920px) { 
  .features {
    flex-direction: column;
    padding: 50px;
  }
  
  /* MOBILE HEADINGS */
  
.header__img-box{
  display: none !important;
}
  
  /* MOBILE NAVIGATION */
     
  .navbar ul {
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: start;
    top: 50px;
    background-color: #adbab0;
    width: 100%;
    height: calc(100vh - 55px);
    transform: translate(-101%);
    text-align: center;
    overflow: hidden;
    left: -30%;
  }
  .header__img-box{
   background-color: #00000000;
  }

  .navbar li {
    padding: 15px;
  }
  
  .navbar li:first-child {
    margin-top: 50px;
  }
  
  .navbar li a {
    font-size: 1rem;
  }
   
  .menu-toggle, .bar {
    display: block;
    cursor: pointer;
  }
  
  .mobile-nav {
  transform: translate(0%)!important;
}
  
  /* SECTIONS */
  
  .headline {
    height: 20vh;
  }
    
  .feature-container p {
    margin-bottom: 25px;
  }
  
  .feature-container {
    margin-top: 20px;
  }
  
  .feature-container:nth-child(2) {
    order: -1;
  }
  
  /* SEARCH DISABLED ON MOBILE */
  
  #search-icon {
    display: none;
  }
  
  .search-input {
  display: none;
 }
  
}



.header__liks-box{
  display: flex;
}

.navbar{
  display: flex;
    align-items: center;
    justify-content: space-between;
}


