

.single__shop-box {
  display: flex;
  align-items: center;
  height: 100%;
}

.asgard{
  margin-top: 35px;
}


.single___shom-min-box {
  display: flex;
  align-items: center;
  margin-top: 30px;
  justify-content: space-around;
  gap: 10px;
  width: 30%;
}

.single__line {
  width: 2px;
  height: 37px;
  background: #9f9f9f;
}

.single__shop {
  height: 100px;
  flex-shrink: 0;
  background: #f9f1e7;
}

.single__shop-text{
  color: #9F9F9F;

  font-family: "Poppins";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.single__shop-title {
  color: #000;
  font-family: "Poppins";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}




.asgard__box1 {
  display: flex;
flex-direction: column;
  /* Boshqa stil atributlarni qo'shing */
}


.asgard__box1-list{
  margin: 15px 0px;
}


.asgad__big-box{
  display: flex;
}












////////////////

